/* You can add global styles to this file, and also import other style files
*{
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    font-family:"Poppins",sans-serif;
    background-color:radial-gradient(circle at top);
    margin:0;
    padding:0;
    color: #c3b3d8;
    height:100%;
} */
/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #1e1d20;
  color: #ede8f7;
}
